@model IEnumerable<Category>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach(var category in Model)
        {
            <li>
                <a asp-controller="Computer" asp-action="List" asp-route-category="@category.CategoryName">
                    @category.CategoryName
                </a>
            </li>
        }
        <li class="divider">

        </li>
        <li>
            <a asp-controller="Computer" asp-action="List" asp-route-category="">All Laptops</a>
        </li>
    </ul>
</li>